In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("NewcsvFile1.csv")

In [17]:
print(df.head())

       feature1            feature2         feature3  feature4       feature5  \
0  1.331901e+09   CCHNFI4C6RAO93bP7   192.168.202.76      68.0  192.168.202.1
1  1.331901e+09  CouYOF1J4EnQkQNSl3   192.168.204.69      68.0  192.168.204.1
2  1.331901e+09  C9svD93TrEvPshF7Gf  192.168.202.102      68.0  192.168.202.1
3  1.331901e+09  C2nAD54rXz5nILppHh   192.168.202.76      68.0  192.168.202.1
4  1.331901e+09  CVRJN6491gIrhKWzHk   192.168.204.69      68.0  192.168.204.1

   feature6           feature7         feature8  feature9    feature10.
0      67.0  00:26:9e:83:a2:30   192.168.202.76       0.0  2.767872e+09
1      67.0  00:26:b9:da:95:2c   192.168.204.69       0.0  2.023310e+09
2      67.0  f0:de:f1:2e:6a:5a  192.168.202.102       0.0  7.111068e+06
3      67.0  00:26:9e:83:a2:30   192.168.202.76       0.0  4.022010e+09
4      67.0  00:26:b9:da:95:2c   192.168.204.69       0.0  3.428948e+09

In [11]:
list(df.columns.values)

['feature1',
 'feature2',
 'feature3',
 'feature4',
 'feature5',
 'feature6',
 'feature7',
 'feature8',
 'feature9',
 'feature10.']

In [4]:
print(df['feature2'].value_counts())

CimlH91iaxK3hlFON3    6
Ctg2Tj2YjGaQCB22g3    4
CQBlOy17xfrwwpO5D5    4
Cul4Am1mNDZUjtYou1    4
CXn1B81bbCFfuIqsI6    4
CM2vsP1WUWtDN19W4     3
CyN58N2grSHk3Y0iMb    3
CPcbbN3JuM6ysmSJSi    3
CVdRRb4t2Xl4QsuUBd    3
CjlUSn3RaXRtl7N148    3
CFvl7K1qTcivJun3w6    3
CXR1N74pAbysD7Fg11    3
ClGuzh3qdbQAMyurLk    3
ClrvVg4O7AaeRAserc    3
CPYcpj2M0iZkDiEu99    3
C5zyl62tmqfwgnwojc    3
CygqA24VI0joUnwYNd    3
CoSefE4QAJCe2YZBie    3
CwqPDd13H9Ku4ukcT4    2
CD8TfR2UJf4gYe7S5i    2
CSBJT94Xmr4I5oNDPf    2
CblHKF44B485DmFVhc    2
Ch3bRX1Xs7DBD3Kfth    2
C53GrXQSd8yuQ2SYh     2
C39G2x4glXUAB1lXE1    2
CTWIHH2HFs3sPeYAp4    2
CYr13pL4O1mh5lZi9     2
CEhpRO3n83GxlWGmxc    2
C6fiF91T1GFK0xYqVk    2
C2dhxa4juR8fc03xsj    2
                     ..
CYmw1q6IX9p1k09Q8     1
CeaOjh3Zkh8ba9x3Kg    1
CaNfxj3wjc0zwwy5w6    1
C7aVbS3H1kpZ8jFCtg    1
CXlL6f4ahBkqaMEvcl    1
Ca8LJXd6xg6kww5dj     1
CVRJN6491gIrhKWzHk    1
CcLHIl1Q41NIYxr0tf    1
CUnIYE3cqKWwlf6dEj    1
CAsjPtErJaWmJ9uGk     1
CfwgqN1vtPDJw9dSy1    1
CyRJoh4APgglIMD7D7    1
CzgpsBj2Fb35vpzg4     1
CjdcqQ17EKe5TlSVM1    1
Cld53x4DA5QxQZA7B5    1
CJEIxC2wS0BidSCKC8    1
CYFq7m1yIprG7NOnQ7    1
C9KM0B2nUL4gxGrdgl    1
CVLDg34hvdWz0Cw3sf    1
CHL3GP3gLnvn51kqQd    1
CWLJNWOrJ5INoLQAi     1
CzFE6s4jLH4c2onmY5    1
CKjtBU19IAv9w05iG3    1
CNA9UyJlCh0UdgtQ8     1
CF9sK4CXTxhskWq46     1
CUgmG6vYwznL3Wel4     1
C2oyIQprFcnMnoDU6     1
CkMm3C1fGVLIwqVduk    1
CParje3YlhIdYQNOuf    1
CrLxNt3hNGwogJTZ46    1
Name: feature2, Length: 1418, dtype: int64

In [13]:
print(df['feature3'].value_counts())

192.168.202.76     744
192.168.202.97      87
192.168.202.85      79
192.168.202.102     42
192.168.202.141     40
192.168.202.75      36
192.168.202.91      35
255.255.255.255     30
192.168.202.115     26
192.168.202.113     25
192.168.202.112     20
192.168.202.101     19
192.168.202.65      19
192.168.202.121     17
192.168.202.89      17
192.168.202.157     11
192.168.202.94      10
192.168.202.138     10
192.168.202.84      10
192.168.202.135      9
192.168.202.109      8
192.168.202.93       7
192.168.202.110      7
192.168.204.59       7
192.168.202.125      7
192.168.203.64       6
192.168.202.133      6
192.168.202.95       5
192.168.204.72       5
192.168.202.63       5
                  ...
192.168.203.63       2
192.168.202.69       2
192.168.202.155      2
192.168.202.119      2
192.168.202.152      2
192.168.202.74       2
192.168.202.134      1
192.168.202.105      1
192.168.202.131      1
192.168.202.126      1
192.168.202.148      1
192.168.202.60       1
192.168.202.146      1
192.168.202.132      1
192.168.202.108      1
192.168.203.66       1
192.168.202.86       1
192.168.202.130      1
192.168.202.128      1
192.168.202.118      1
192.168.202.98       1
192.168.202.67       1
192.168.202.68       1
192.168.202.127      1
192.168.202.150      1
192.168.202.111      1
192.168.202.151      1
192.168.202.90       1
192.168.202.153      1
192.168.202.144      1
Name: feature3, Length: 100, dtype: int64

In [8]:
print(df['feature6'].value_counts())

67.0    1502
Name: feature6, dtype: int64

In [9]:
print(df['feature8'].value_counts())

192.168.202.76     744
192.168.202.97      94
192.168.202.85      79
192.168.202.141     51
192.168.202.102     42
192.168.202.75      39
192.168.202.91      35
192.168.202.115     26
192.168.202.113     25
192.168.202.112     20
192.168.202.65      19
192.168.202.101     19
192.168.202.121     17
192.168.202.89      17
192.168.202.157     11
192.168.202.88      10
192.168.202.84      10
192.168.202.138     10
192.168.202.94      10
192.168.202.135      9
192.168.202.109      8
192.168.202.93       7
192.168.202.110      7
192.168.204.59       7
192.168.202.125      7
192.168.203.64       6
192.168.202.133      6
192.168.204.72       5
192.168.202.62       5
192.168.202.120      5
                  ...
192.168.202.83       2
192.168.202.129      2
192.168.202.155      2
192.168.202.152      2
192.168.202.116      2
192.168.202.156      2
192.168.202.71       2
192.168.202.90       1
192.168.202.148      1
192.168.202.126      1
192.168.202.131      1
192.168.203.66       1
192.168.202.144      1
192.168.202.108      1
192.168.202.127      1
192.168.202.105      1
192.168.202.150      1
192.168.202.130      1
192.168.202.128      1
192.168.202.118      1
192.168.202.132      1
192.168.202.153      1
192.168.202.134      1
192.168.202.146      1
192.168.202.98       1
192.168.202.67       1
192.168.202.68       1
192.168.202.151      1
192.168.202.111      1
192.168.202.86       1
Name: feature8, Length: 99, dtype: int64

In [12]:
print(df['feature7'].value_counts())

00:26:9e:83:a2:30    744
00:23:54:8a:21:78     94
00:24:54:eb:dc:f2     79
08:11:96:8d:be:84     51
f0:de:f1:2e:6a:5a     42
00:0c:29:25:61:e1     39
00:0c:29:98:25:c1     35
98:4b:e1:4e:a3:7b     26
b4:99:ba:f4:6a:63     25
00:26:9e:23:5e:e4     20
00:0c:29:8e:38:5a     19
00:90:96:b8:7f:3d     19
f0:de:f1:19:a5:d2     17
bc:ae:c5:9e:f3:b6     17
b4:99:ba:f4:6a:af     17
d0:67:e5:2f:cb:65     11
00:0c:29:93:57:1e     10
c4:2c:03:37:0e:fc     10
00:c0:ca:39:09:1e     10
d4:9a:20:f9:b4:9c     10
00:0c:29:e4:46:df      9
b8:ac:6f:63:0e:f0      8
60:fb:42:ef:54:40      7
00:0c:29:1e:2f:4b      7
00:0f:1f:a7:8b:b6      7
00:0c:29:4e:9e:86      7
08:00:27:c4:d4:ca      6
f0:de:f1:9b:ad:6a      5
00:0c:29:6e:4b:67      5
3c:07:54:1c:a6:65      5
                    ...
b8:8d:12:12:3f:90      2
00:0c:29:18:b6:67      2
3c:07:54:41:3e:d3      2
00:90:96:b8:8e:91      2
00:0c:29:4d:eb:9e      2
00:0c:29:e0:b4:72      2
c8:60:00:1a:9f:29      2
08:00:27:10:b3:46      2
00:50:43:01:95:e1      2
00:26:18:f9:be:98      2
00:0c:29:d9:9f:09      2
40:3c:fc:06:98:a4      2
00:16:cb:ab:6f:f8      2
00:0c:29:5b:22:06      1
00:1f:16:e5:71:da      1
9a:4b:e1:4e:a3:7b      1
00:0c:29:e4:75:97      1
00:0c:29:29:66:1f      1
5c:26:0a:11:4a:0d      1
de:ad:be:ef:be:ef      1
60:c5:47:93:38:1e      1
00:0c:29:f5:b2:55      1
00:0c:29:89:d0:73      1
00:0c:29:6c:bf:67      1
00:0c:29:d9:46:21      1
3c:d0:f8:34:47:65      1
00:0c:29:93:20:9e      1
00:0c:29:ad:12:94      1
5c:26:0a:54:e9:7c      1
00:0c:29:4d:6b:94      1
Name: feature7, Length: 87, dtype: int64

# Handling missing data

In [15]:
df.isnull().sum().sort_values(ascending=False)

feature10.    1
feature9      1
feature8      1
feature7      1
feature6      1
feature5      1
feature4      1
feature3      1
feature2      1
feature1      1
dtype: int64

The dataset may be the missing last row

In [18]:
print(df.tail())

          feature1            feature2         feature3  feature4  \
1498  1.332016e+09  CiXghT1o04iEMCRt95  192.168.202.152      68.0
1499  1.332016e+09  ClmudR1pTjxo5ujzq3   192.168.202.97      68.0
1500  1.332016e+09   C1Gt9C1V7VZMujMwi   192.168.202.64      68.0
1501  1.332017e+09   CLPHStU4Iw1izzEA5   192.168.202.82      68.0
1502           NaN                 NaN              NaN       NaN

           feature5  feature6           feature7         feature8  feature9  \
1498  192.168.202.1      67.0  c8:60:00:1a:9f:29  192.168.202.152   86400.0
1499  192.168.202.1      67.0  00:23:54:8a:21:78   192.168.202.97       0.0
1500  192.168.202.1      67.0  c8:60:00:1a:aa:77   192.168.202.64   86400.0
1501  192.168.202.1      67.0  00:0c:29:78:10:23   192.168.202.82   86400.0
1502            NaN       NaN                NaN              NaN       NaN

        feature10.
1498  3.965556e+09
1499  1.007805e+09
1500  2.952970e+09
1501  3.170925e+09
1502           NaN